@font-face {
    font-family: "Raleway";
    src: url(Police/Raleway-Italic-VariableFont_wght.ttf);
    src: url(Police/Raleway-VariableFont_wght.ttf);
}



body {
    font-family: "Raleway", sans-serif;
    margin: 0 auto;

}

#bloc-page {
    max-width: 1340px;
}


h1 {

    margin-bottom: 20px;
    margin-left: 20px;
    font-weight: bold;
}

h2 {
    margin: 10px 90px 10px 10px;
    font-size: 21px;
}

h4 {
    font-size: 16px;
    font-weight: bold;
}

#bloc-page {
    margin: 0px auto;
    width: 100%;
}

/* HEADER */




nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav img {
    height: 60px;
    margin-left: 23px;
    margin-top: 3px;
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 10px;
}

nav li {
    margin: 0 30px 0 10px;
    text-decoration: none;
    color: black;
    font-size: 15px;

}

nav li a {
    text-decoration: none;
    font-size: 17px;
    color: black;
    margin-right: 20px;
}

nav li a:focus {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 20px;


}


/* logement */


#logement {
    display: flex;
    flex-direction: column;
    margin: 20px 30px;
}

#logement h1 {
    margin-bottom: 0px;
    font-weight: bold;
    margin-left: 0px;
}

#logement p {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 20px;

}

#formulaire_1 {
    display: flex;
    height: 50px;

}

#formulaire_1 svg {
    background-color: #f2f2f2;
    height: 50px;
    width: 20px;
    padding: 0px 15px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right: 0px;
}


#formulaire_1 label {
    background: #0065FC;
    color: white;
    font-weight: bold;
    font-size: 17px;
    padding: 12px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#recherche span {
    vertical-align: middle;
}

#recherche {
    padding: auto;
    padding-left: 15px;
    /* padding-right: 5px; */
    border: 1px solid #f2f2f2;
    font-weight: bold;
    font-size: 17px;
}

#recherche::placeholder {
    color: black;

}

#formulaire_1 .svg_1 {
    display: none;
}

/* FILTRES */


h4 {
    font-size: 20px;
    font-weight: bold;
    margin-right: 30px;
}

.filter {
    text-decoration: none;
    color: black;
    margin-right: 20px;
    /* padding-left: 0px; */
    /* padding: 0px; */
    border: 2px solid rgb(236, 236, 236);
    border-left: none;
    border-top-left-radius: none;
    border-radius: 30px;
}

.filter:hover {
    color: #0065FC;
    border: 2px solid #0065FC;
    border-left: none;
}

.filter p:hover {

    border-left: none;
    text-shadow: 2px 2px 2px rgb(210, 210, 210);
}

.filter:focus {
    color: #0065FC;
    border: 2px solid #0065FC;
}




.main_filtres {
    margin-top: 10px;
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
}


#filtres {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    width: 70%;
}

.filtres {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: 10px;
}


.filtres p {

    /* border-left: none; */
    margin: 5px;
    font-weight: bold;
    font-size: 17px;
    padding: 0px 10px 0px 3px;
    /* border-top-right-radius: 20px; */
    /* border-bottom-right-radius: 20px; */
    position: relative;
    left: 5px;
}


.icone {
    background-color: #DEEBFF;
    padding: 14px;
    border-radius: 50px;
    width: 25px;
    height: 19px;
    color: #0065FC;
}

/* INDEX */


#index {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}


#index svg {
    margin-right: 7px;
    width: 20px;
    height: 20px;
    color: #0065FC;
}

#index p {
    font-size: 16px;
}

/* hébergement */


#hébergement {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px auto;
}

.lien_carte {
    text-decoration: none;
    color: black;
}


#hebergement_1 {
    display: flex;
    margin: auto;
    flex-direction: column;
    background-color: rgb(242, 242, 242);
    padding: 20px 0px 40px 10px;
    border-radius: 20px;
    height: 100%;
    width: 65%;
}

#hebergement_1 h2 {
    font-size: 23px;
    padding-left: 25px;
}

.hebergement_2 {
    display: flex;
    margin-left: 30px;
    margin-top: 20px;
}

.hebergement_2 .hotel {
    width: 246px;
    height: 199px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    margin-right: 40px;
    margin-top: 10px;
    padding: 5px;
    box-shadow: 2px 2px 10px grey;
}

.hotel p {
    margin: 3px;
    font-size: 12px;
}


.hotel .name {
    font-weight: bold;
    font-size: 15px;
}

#hébergement .hotel img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 5px;
    height: 113.33px;
    width: 100%;
    object-fit: cover;
}

#hébergement .hotel svg {
    color: #0065FC;
}

#hébergement .STARS {
    margin: 5px 5px;
}

#hebergement_1 .afficher {
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin-left: 5px;
}

#hebergement_1 .paragraphe_afficher {
    margin-top: 40px;
    margin-left: 30px;
    font-size: 17px;
}

/* ASIDE */

aside {
    margin: auto;
}

#hébergement aside {
    background-color: #f2f2f2;
    width: 25%;
    padding: 20px 20px 30px 20px;
    border-radius: 20px;
    height: 620px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hébergement .aside_titre {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    padding: 2px;
}


#hébergement .hotel_populaire {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 3px 5px 0px 5px;
    border-radius: 20px;
    margin: 35px 0px;
    box-shadow: 1px 1px 10px grey;
    max-width: 313px;
    height: 143px;
}


#hébergement .hotel_aside {
    display: flex;
    flex-direction: row;
}

#hébergement .img_aside {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 100%;
    height: 140px;
    object-fit: cover;
}

#hébergement .paragraphe {
    margin-left: 10px;
    margin-top: 10px;
}

#hébergement .paragraphe .STARS_1 {
    position: relative;
    top: 20px;
    color: #0065FC;
    margin-top: 30px;
    margin-left: 2px;

}

#hébergement .img_asidebloc {
    width: 40%;
}

#hébergement .paragraphe .name_aside {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 0px;
}

#hébergement .paragraphe p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 13px;
}


/* ACTIVITÉS */

#activite {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-left: 20px;
    padding: 10px 10px 20px 15px;
}

.activite_lieux {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    margin-left: 10px;
}

.activite_lieux .ile_du_frioul,
.Parc_longchamp {
    position: relative;
    bottom: -17px;
}

.bloc_activite_1 {
    display: flex;
    flex-direction: column;
    margin-right: 35px;
    box-shadow: 2px 2px 10px #dadada;
    border-radius: 10px;
    width: 25%;
}

.bloc_activite_1 img {

    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.bloc_activite_1 a {
    height: calc(100% - 40px);
}




.bloc_activite_1 p {
    margin-top: 1px;
    padding: 10px;
    font-weight: bold;
}


.bloc_activite_2 img {

    height: 113.33px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.bloc_activite_2 {
    justify-content: space-between;
    margin-right: 35px;
    width: 20%;

}

.bloc_activite_2 div {
    box-shadow: 2px 2px 10px #dadada;
    border-radius: 10px;
    width: 100%;
}



.bloc_activite_2 div p {
    margin-top: 1px;
    margin-left: 0px;
    padding: 10px;
    font-weight: bold;
}


/* FOOTER */

footer {
    background: #f2f2f2;
}

#footer {
    display: flex;
    justify-content: space-around;
    max-width: 1500px;

}

#footer a {
    text-decoration: none;
    color: black;
}

#footer div {
    margin-left: 55px;
    margin-right: 20px;
}


#footer p {
    font-size: 17px;
}





/* TABLETTE  */

@media only screen and (min-width: 768px) and (max-width: 991px) {

    body {
        width: 100%;

    }

    #bloc-page {
        width: 100%;
        margin: 0px;
    }

    h1 {
        margin-left: 20px;
        width: 90%;
    }

    h2 {
        margin: 10px 20px;
        font-size: 21px;
    }

    h4 {
        font-size: 20px;
        width: 10%;
        font-weight: bold;
        margin-right: 0;
    }

    #logement h1 {
        margin-left: 0px;
    }

    #filtres {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 5px;
        width: 85%;
    }

    .filter {
        text-decoration: none;
        color: black;
        margin-right: 20px;
        margin-top: 10px;
        /* padding-left: 0px; */
        /* padding: 0px; */
        border: 2px solid rgb(236, 236, 236);
        border-left: none;
        border-top-left-radius: none;
        border-radius: 30px;
    }


    .filter:hover {
        display: none;
    }

    .filter p:hover {

        display: none;
    }

    .filter:focus {
        display: none;
    }

    .main_filtres {
        margin: 10px 10px;
        /* margin-left: 30px; */
        display: flex;
        flex-wrap: wrap;
        width: 95%;
    }

    #logement {
        display: flex;
        flex-direction: column;
        margin: 20px 20px;
    }


    #hébergement {
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
        width: 100%;
        margin-top: 10px;
        margin-left: 0;
    }

    #hébergement .aside_titre {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 10px;
        padding: 0px;
        width: 100%;
    }

    #hébergement .img_aside {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #hébergement .hotel img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin-bottom: 5px;
        height: 113.33px;
        width: 100%;
        object-fit: cover;
    }

    #hébergement .hotel_aside {
        display: flex;
        flex-direction: row;
        height: 100%;
    }

    #hébergement aside {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 0px 0px 0px 0px;
        margin-bottom: 20px;
        border-radius: 0px;
        background-color: white;
    }



    .lien_carte {
        text-decoration: none;
        color: black;
        height: 100%;
    }

    #hebergement_1 {
        display: flex;
        background-color: white;
        padding: 15px 0px;
        border-radius: 0px;
        height: 100%;
        width: 100%;
    }

    #hebergement_1 h2 {
        font-size: 23px;
        padding-left: 0px;
        margin-top: 0px;
    }

    .hebergement_2 {
        display: flex;
        margin-top: 20px;
        margin-left: 0;
    }


    .hebergement_2 .hotel {

        width: 100%;
        display: flex;
        background-color: white;
        border-radius: 10px;
        margin: 20px 20px;
        padding: 0px;
        box-shadow: 2px 2px 10px grey;

    }

    #hébergement .afficher {
        margin-left: 25px;
        font-size: 12px;
        border: 1px solid rgb(114, 114, 114);
        border-radius: 5px;
        padding: 5px;
    }

    #hebergement_1 .paragraphe_afficher {
        margin-top: 5px;
        margin-left: 20px;
        font-size: 17px;
    }




    #hébergement #dimension {
        display: flex;
        width: 100%;
    }

    #hébergement .paragraphe .STARS_1 {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
    }

    #hébergement .paragraphe {
        width: 150px;
    }

    #hébergement .aside_titre svg {
        display: none;
    }

    #hébergement .hotel_populaire {

        margin: 15px 10px;
        box-shadow: 2px 2px 10px grey;
        width: 33%;
        padding: 0px;
    }

    .STARS_1 {
        position: relative;
        bottom: 20px;
    }



    #activite {
        margin: 20px 0px;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;

    }

    #activite .activite_lieux {
        display: flex;
        flex-wrap: wrap;
        margin-left: 0px;
        width: 100%;
    }

    #activite .bloc_activite_1 img {
        width: 100%;
        height: 250px;
        display: flex;
    }

    #activite .bloc_activite_1 {
        width: 90%;
        display: flex;
        order: 2;
        margin: 0px auto;
    }

    #activite .bloc_activite_2 {
        width: 98%;
        flex-wrap: wrap;
        display: flex;
        order: 2;
        margin: 0px auto;
    }

    .activite_lieux .ile_du_frioul,
    .Parc_longchamp {
        position: relative;
        bottom: 0px;
    }

    .bloc_activite_2 div {
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        margin: 30px 30px;
        box-shadow: 2px 2px 10px grey;
        border-radius: 10px;
    }

    .bloc_activite_2 div img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    #footer {
        display: flex;
        width: 100%;
        position: absolute;
    }

    #footer div {
        margin: 50px;
        margin-top: 30px;
    }

}


/*MOBILE*/

@media only screen and (max-width: 767px) {

    body {
        display: flex;
        flex-direction: column;

    }

    h1 {
        margin-bottom: 0px;
        margin-left: 20px;
        font-weight: bold;
        margin: 0px 20px;
    }

    #bloc-page {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 0px;
    }

    header {
        width: 100%;
    }

    h4 {
        font-size: 20px;
        font-weight: bold;
        margin-right: 0px;
        width: 60%;
        margin-bottom: 10px;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 0px;

    }

    nav img {
        margin-bottom: 10px;
    }

    nav ul {
        margin: 10px;
        justify-content: center;
        padding-left: 0;
        width: 100%;
        display: flex;
        border-bottom: 4px solid #f2f2f2;
    }

    nav ul li {
        padding-bottom: 20px;
        margin-top: 20px;
    }

    nav ul li a {
        font-size: 17px;
    }

    nav ul li a:active {
        border-bottom: 3px solid #0065FC;
        padding: 30px 40px 0px 40px;
    }


    /*LOGEMENT*/


    #logement {
        display: flex;
        flex-direction: column;
        margin: 0px;
        /* align-items: center; */
        width: 100%;

    }

    #logement h1 {
        font-size: 25px;
        margin-top: 0px;
        width: 95%;
        margin: 10px;
        text-align: center;

    }

    #logement p {
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 25px;
        text-align: center;
    }

    #formulaire_1 {
        display: flex;
        width: 100%;
        justify-content: center;

    }

    #formulaire_1 svg {
        background-color: #f2f2f2;
        padding: 15px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        margin-right: 0px;
        width: 30px;
        height: 35%;
    }


    #formulaire_1 label {
        display: none;
    }

    #formulaire_1 .svg_1 {
        display: flex;
        background: #0065FC;
        color: white;
        padding: 15px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        position: relative;
        right: 13px;
        width: 20px;
        height: 35%;
        border-radius: 15px;
    }

    #recherche {
        padding: 0;
        height: 100%;
        padding-left: 10px;
        border: 1px solid #f2f2f2;
        border-right: none;
        width: 50%;
        font-size: 15px;
        height: 90%;

    }

    /* FILTRES */


    .main_filtres {
        margin-top: 10px;
        margin-left: 10px;
        display: flex;
        flex-wrap: wrap;

    }


    #filtres {
        justify-content: flex-start;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }

    .filter {

        margin-right: 10px;
        padding: 0px;
        border: none;
        border-left: none;
        border-radius: 50px;
        margin-top: 10px;
    }

    .filtres {

        display: flex;
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
        border: 1px solid rgb(215 215 215);
        border-left: none;
        border-radius: 30px;

    }

    .filtres p {

        font-weight: bold;
        font-size: 17px;
        padding: 4px 8px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        /* border: 2px solid grey; */
        border-left: none;
        position: relative;
        left: -5px;
    }


    .icone {
        background-color: #DEEBFF;
        padding: 15px;
        border-radius: 50px;
        position: relative;
        left: -3px;
        width: 25px;
        height: 25px;
        color: #0065FC;
    }

    /* INDEX */


    #index {
        display: flex;
        justify-content: center;
    }


    #index svg {
        margin-right: 7px;
        color: #0065FC;
    }

    #index p {
        font-size: 17px;
        margin-top: 30px;
    }

    /* hébergement */


    #hébergement {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 10px;
        margin-left: 0;
        width: 100%;
    }

    #hébergement #dimension {
        width: 100%;
    }


    #hebergement_1 {
        display: flex;
        margin-right: 0;
        padding-left: 0px;
        flex-direction: column;
        background-color: #ffffff;
        border-radius: 10px;
        width: 100%;
    }

    #hebergement_1 h2 {
        font-size: 23px;
        padding-left: 0;
        margin: 10px 0px;
        width: 100%;
    }

    .hebergement_2 {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        margin-top: 0px;
        width: 95%;
    }



    .hebergement_2 .hotel {
        width: 90%;
        height: 30%;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        border-radius: 20px;
        /* margin-right: 40px; */
        margin: 10px 0px;
        padding: 5px;
        box-shadow: 2px 2px 10px grey;
    }

    .hotel p {
        margin: 3px;
        font-size: 12px;
    }


    .hotel .name {
        font-weight: bold;
        font-size: 17px;
    }

    #hébergement .hotel img {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-bottom: 5px;
        height: 117px;
        width: 100%;
        object-fit: cover;

    }



    #hébergement .STARS {
        margin: 5px 5px;

    }

    #hébergement .STARS svg {
        width: 20px;
        height: 20px;

    }

    #hebergement_1 .afficher {
        text-decoration: none;
        font-weight: bold;
        color: black;
        margin-left: 5px;
    }

    #hebergement_1 .paragraphe_afficher {
        margin-top: 20px;
        margin-left: 20px;
        margin-bottom: 0px;
        font-size: 15px;
    }

    /* ASIDE */

    #hébergement aside {
        background-color: #f2f2f2;
        width: 100%;
        padding: 20px 0px 20px 0px;
        border-radius: 0px;
    }

    #hébergement aside h2 {
        margin: 10px 90px 10px 10px;
        font-size: 25px;
    }

    #hébergement .aside_titre {
        display: flex;
        align-items: center;
        padding: 0px;
        width: 100%;
    }

    #hébergement .aside_titre svg {
        height: 30px;
        color: black;
    }

    #hébergement .hotel_populaire {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 3px 5px 0px 5px;
        border-radius: 20px;
        margin: 20px auto;
        box-shadow: 2px 2px 10px grey;
        width: 90%;
        height: 160px;
    }


    #hébergement .hotel_aside {
        display: flex;
        flex-direction: row;
    }

    #hébergement .img_aside {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        width: 100%;
        /* border-radius: 20px; */
        height: 157px;
        object-fit: cover;
    }

    #hébergement .paragraphe {
        margin-left: 10px;
        margin-top: 10px;
    }

    #hébergement .paragraphe .STARS_1 {
        position: relative;
        color: #0065FC;
        top: 20px;

    }

    #hébergement .paragraphe .STARS_1 svg {
        width: 20px;
        height: 20px;
    }

    #hébergement .img_asidebloc {
        width: 40%;
    }

    #hébergement .paragraphe .name_aside {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 0px;

    }

    #hébergement .paragraphe p {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 12px;
    }


    /* ACTIVITÉS */

    #activite {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0px;
        /* height: 1600px; */
        margin-bottom: 30px;
        margin-left: 0;

    }

    .activite_lieux {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-left: 0;
        /* height: 840px; */
        width: 100%;
    }



    .bloc_activite_1 {
        width: 90%;
        height: 20%;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        border-radius: 20px;
        /* margin-right: 0; */
        margin: 40px auto;
        box-shadow: 2px 2px 10px #e2e1e1;

    }

    .bloc_activite_1 img {
        height: 157px;
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: cover;
    }

    .activite_lieux .ile_du_frioul,
    .Parc_longchamp {
        position: relative;
        bottom: 0px;
        margin-top: 30px;
    }


    .bloc_activite_2 img {

        height: 157px;
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: cover;
    }

    .bloc_activite_2 {

        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        border-radius: 10px;
        margin-right: 40px;
        margin-top: 10px;
    }

    .bloc_activite_2 div {
        box-shadow: 2px 2px 10px #e2e2e2;
        box-shadow: 2px 2px 10px #e2e2e2;
        border-radius: 20px;
        width: 90%;
        margin: 30px auto;
    }

    .bloc_activite_1 p {
        margin-top: 1px;

        padding: 10px;
        font-weight: bold;
    }


    .bloc_activite_2 div p {
        margin-top: 1px;
        margin-left: 0px;
        padding: 10px;
        font-weight: bold;
    }

    /* FOOTER */

    #footer {

        background: #f2f2f2;
        width: 100%;
        padding: 0px;
        display: flex;
        flex-direction: column;
    }

    #footer a {
        text-decoration: none;
        color: black;
        font-size: 17px;
    }

    #footer p {
        font-size: 12px;
    }


}